<h4 class="ml-3">お問い合わせ一覧</h4>
<% @contacts.each do |contact| %>
  <div class="container mt-5">
    <div class="row mb-2">
      <div class="col-3">
        <%=link_to admin_contact_path(contact.id) do%>
          <h4><%=contact.property.property_name %></h4>
        <%end%>
      </div>
      <div class="col-9 mt-2">
        <%=link_to admin_user_path(contact.user.id) do%>
          <%= contact.name %>
        <%end%>
      </div>
    </div>
  </div>
<%end%>

