@import '~bootstrap/scss/bootstrap';

h3,h2{
  color: #1E90FF;

}

p{
  font-size: 16px;
  font-weight: bold;
}

th, td {
  font-size:  15px;
}

th{
  color: white;
  width: 100px;
}

.wrapper{
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;

}

// ul {
// list-style: none;

// }

//topページ



.top_picture{
  width: 100vw !important;
  height: 300px;
  background-size: cover;
  background-position: 50px 100px;
}


.top {
  position: relative;
}

// topページ　スライド
.slick-slide {
  position: relative;
}

.slick-slide .caption { //ここをいじる
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 255, 0.3);
  color: #fff;
  font-size: 14px;
  opacity: 0;
  text-align: center;
  padding-top:20px;
  height:60px;
  width: 100%;
}

.slick-current .caption {
  opacity: 1;
  transition-delay: .5s;
}

.slick-slide {
  transition: .3s ease;
  transform: scale(.85);
  transform-origin: 110% 50%;
  filter: blur(7px);
}
.slick-current {
  position: relative;
  z-index: 2;
  transform: scale(1);
  transform-origin: 50% 50%;
  filter: blur(0);
}
.slick-current + .slick-slide {
  transform-origin: -10% 50%;
}

.explanation {
  color: #fff;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.btn {

    color: #1E90FF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #fcfcfc;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px -2px rgb(33 37 56 / 25%);
    border-radius: 0.45rem;
    border-color: rgb(80,80,80,0.5);
}
.btn {
    opacity: 0.8;
}
.btn {
    content: "\f005";
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
    color:  #1E90FF;
    opacity: 0.8;
    font-size: 1.3rem;
    transform: translateY(-1px);
}


//タブ



.wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #00BFFF;
  border: 1px solid white;
  border-bottom: none;
  border-radius: 20px;
}

#tab-menu .active {
  background: #1E90FF;
  color: white;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: white;
  border: 1px solid white;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

//top

.areamap-position{
  margin-top: 80px;
}

.area-search{
  margin-top: 120px;
}



#areamap, #areamap_detail {
  width: 550px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: center;
  margin: auto;
  background-image: url("../images/area.jpg");
  position: relative;

}

ul {
  list-style-type: none
}

ul#areamap li a {
  color: white;
}

ul#areamap li a:hover {
  color: blue;
  text-decoration: none;
}

#areamap #areamap_1 {
  position: absolute;
  top: 240px;
  left: 320px;
}

#areamap #areamap_2 {
  position: absolute;
  top:300px;
  left:300px;
}

#areamap #areamap_3 {
  position: absolute;
  top:400px;
  left:340px;
}

#areamap #areamap_4 {
  position: absolute;
  top:340px;
  left:310px;
}

#areamap #areamap_5 {
  position: absolute;
  top:130px;
  left:350px;
}

#areamap #areamap_6 {
  position: absolute;
  top:180px;
  left:480px;
}

#areamap_detail #area_id_1 {
  position: absolute;
  top: 140px;
  left: 170px;
}

#areamap_detail label[for="area_id_1"] {
  position: absolute;
  top: 135px;
  left: 185px;
}

#areamap_detail #area_id_2 {
  position: absolute;
  top: 170px;
  left: 385px;
}

#areamap_detail label[for="area_id_2"] {
  position: absolute;
  top: 165px;
  left: 400px;
}

#areamap_detail #area_id_3 {
  position: absolute;
  top: 350px;
  left: 200px;
}

#areamap_detail label[for="area_id_3"] {
  position: absolute;
  top: 345px;
  left: 215px;
}


* {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 30px;
}

.accordion {
  width: 400px;
  margin: 0 auto;
}

.menu {
  background-color: #75A9FF;
  color: white;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-width: 2px;
border-style: outset;
}

p {
  margin-bottom: 0;
}



.contents {
  text-align: center;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.4s;
  display: flex;
  flex-wrap: wrap;
}



.contents.is-open {
  border: 1px solid black;
  padding: 10px;
  line-height: normal;
  height: auto;
  opacity: 1;
}

.accordion_rank {
  width: 600px;
  margin: 0 auto;
}

//property search
.sideber{

    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #1E90FF;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;

}

.under{
  background: linear-gradient(transparent 70%, #FFFF33 80%);
  font-size: 23px;
  color: #1E90FF;
  font-weight: bold;
}

.area_sideber{
  width: 45%;
  max-width: 45%;
  display: inline-block;

}

.rent{
  font-size: 13px;

  }



.tag{
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: lighter;
  border: solid 1px #1E90FF;
}



.content {
  //border-color: #1E90FF;
  border: solid 2px #1E90FF;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;

}

.tags{

    font-weight: thin;
    color: #1E90FF;
    background: white;
    border: solid 1px;



}

//property show



.slide_picture{
  width: 890px;
  height: 500px;
}
// タブ レビュー投稿
.repeat{
  margin-bottom: 30px;
}

//タブreviw一覧
.coordination{
  border: 3px solid #D9E5FF;
  padding: 10px;
}



//タブ&A

.comment_color{

  border-top: 3px solid #D9E5FF;
}
.sub_comment {
   font-size: 8px;
}
.comment_comment_color{

  width: 800px;

}

.line{
  border-top: 3px solid #1E90FF;
  width:   800px;
}
//_tab rule


// .rule_border{
//   border: 2px solid #1E90FF;
//   width: 900px;
//   opacity: 0.5;
//   padding: 10px;
// }



//user編集

.edit{
  padding: 40px;
}

//閲覧履歴
.history{
  display: inline-block;
}