@import '~bootstrap/scss/bootstrap';

.wrapper{
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

ul {
list-style: none;

}



.wrap {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

#areamap, #areamap_detail {
  width: 900px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("../images/areamap.jpg");
  position: relative;
}

ul {
  list-style-type: none
}

ul#areamap li a {
  color: white;
}

ul#areamap li a:hover {
  color: blue;
  text-decoration: none;
}

#areamap #areamap_1 {
  position: absolute;
  top: 240px;
  left: 320px;
}

#areamap #areamap_2 {
  position: absolute;
  top:300px;
  left:300px;
}

#areamap #areamap_3 {
  position: absolute;
  top:400px;
  left:340px;
}

#areamap #areamap_4 {
  position: absolute;
  top:340px;
  left:310px;
}

#areamap #areamap_5 {
  position: absolute;
  top:130px;
  left:350px;
}

#areamap #areamap_6 {
  position: absolute;
  top:180px;
  left:480px;
}

#areamap_detail #area_id_1 {
  position: absolute;
  top: 140px;
  left: 170px;
}

#areamap_detail label[for="area_id_1"] {
  position: absolute;
  top: 135px;
  left: 185px;
}

#areamap_detail #area_id_2 {
  position: absolute;
  top: 170px;
  left: 385px;
}

#areamap_detail label[for="area_id_2"] {
  position: absolute;
  top: 165px;
  left: 400px;
}

#areamap_detail #area_id_3 {
  position: absolute;
  top: 350px;
  left: 200px;
}

#areamap_detail label[for="area_id_3"] {
  position: absolute;
  top: 345px;
  left: 215px;
}