//マップ
.areamap-position{
  margin-top: 80px;
}

.area-search{
  margin-top: 120px;
}

#areamap {
  width: 460px;
  height: 510px;
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: center;
  margin: auto;
  background-image: url("../images/area.jpg");
  position: relative;

}

#areamap_detail {
  width: 630px;
  height: 530px;
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: center;
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/area.jpg");
  position: relative;
  margin-right: 120px;
  font-size: 15px;
  color: #4689FF;
  font-weight: bold;

}

ul#areamap li a {
  color: #4689FF;

}

ul#areamap li a:hover {
  color: #0000CD;
  text-decoration: none;
  font-weight: bold;
}

 a:link  {
  text-decoration: none;
  font-weight: bold;
}

//新宿 中野 高円寺
#areamap #areamap_1 {
  position: absolute;
  top: 170px;
  left: 80px;
}

//渋谷 恵比寿 下北沢
#areamap #areamap_2 {
  position: absolute;
  top: 270px;
  left: 80px;
}

//品川 蒲田 大森
#areamap #areamap_3 {
  position: absolute;
  top: 350px;
  left: 130px;
}

//六本木 麻布十番 神田
#areamap #areamap_4 {
  position: absolute;
  top: 230px;
  left: 165px;
}

//池袋 赤羽 練馬
#areamap #areamap_5 {
  position: absolute;
  top: 100px;
  left: 80px;
}

//上野 浅草 秋葉原
#areamap #areamap_6 {
  position: absolute;
  top: 170px;
  left: 250px;
}

//北千住 亀有 葛西
#areamap #areamap_7 {
  position: absolute;
  top: 100px;
  left: 270px;
}

//23区外
#areamap #areamap_8 {
  position: absolute;
  top: 390px;
  left: 400px;
}

//練馬区
#areamap_detail #area_id_1 {
  position: absolute;
  top: 125px;
  left: 65px;
}

#areamap_detail label[for="area_id_1"] {
  position: absolute;
  top: 120px;
  left: 80px;
}

//板橋区
#areamap_detail #area_id_2 {
  position: absolute;
  top: 90px;
  left: 165px;
}

#areamap_detail label[for="area_id_2"] {
  position: absolute;
  top: 85px;
  left: 180px;
}

//北区
#areamap_detail #area_id_3 {
  position: absolute;
  top: 110px;
  left: 240px;
}

#areamap_detail label[for="area_id_3"] {
  position: absolute;
  top: 105px;
  left: 255px;
}

//豊島区
#areamap_detail #area_id_4 {
  position: absolute;
  top: 155px;
  left: 190px;
}

#areamap_detail label[for="area_id_4"] {
  position: absolute;
  top: 150px;
  left: 205px;
}

//文京区
#areamap_detail #area_id_5 {
  position: absolute;
  top: 185px;
  left: 240px;
}

#areamap_detail label[for="area_id_5"] {
  position: absolute;
  top: 180px;
  left: 255px;
}

//世田谷区
#areamap_detail #area_id_6 {
  position: absolute;
  top: 320px;
  left: 65px;
}

#areamap_detail label[for="area_id_6"] {
  position: absolute;
  top: 315px;
  left: 80px;
}



//杉並区
#areamap_detail #area_id_7 {
  position: absolute;
  top: 220px;
  left: 65px;
}

#areamap_detail label[for="area_id_7"] {
  position: absolute;
  top: 215px;
  left: 80px;
}

//渋谷区
#areamap_detail #area_id_8 {
  position: absolute;
  top: 260px;
  left: 165px;
}

#areamap_detail label[for="area_id_8"] {
  position: absolute;
  top: 255px;
  left: 180px;
}

//目黒区
#areamap_detail #area_id_9 {
  position: absolute;
  top: 350px;
  left: 150px;
}

#areamap_detail label[for="area_id_9"] {
  position: absolute;
  top: 345px;
  left: 165px;
}

//中野区
#areamap_detail #area_id_10 {
  position: absolute;
  top: 180px;
  left: 110px;
}

#areamap_detail label[for="area_id_10"] {
  position: absolute;
  top: 175px;
  left: 125px;
}

//新宿区
#areamap_detail #area_id_11 {
  position: absolute;
  top: 210px;
  left: 200px;
}

#areamap_detail label[for="area_id_11"] {
  position: absolute;
  top: 205px;
  left: 215px;
}

//太田区
#areamap_detail #area_id_12 {
  position: absolute;
  top: 440px;
  left: 190px;
}

#areamap_detail label[for="area_id_12"] {
  position: absolute;
  top: 435px;
  left: 205px;
}

//品川区
#areamap_detail #area_id_13 {
  position: absolute;
  top: 375px;
  left: 210px;
}

#areamap_detail label[for="area_id_13"] {
  position: absolute;
  top: 370px;
  left: 225px;
}

//港区
#areamap_detail #area_id_14 {
  position: absolute;
  top: 290px;
  left: 240px;
}

#areamap_detail label[for="area_id_14"] {
  position: absolute;
  top: 285px;
  left: 255px;
}

//千代田区
#areamap_detail #area_id_15 {
  position: absolute;
  top: 245px;
  left: 250px;
}

#areamap_detail label[for="area_id_15"] {
  position: absolute;
  top: 240px;
  left: 265px;
}

//中央区
#areamap_detail #area_id_16 {
  position: absolute;
  top: 270px;
  left: 290px;
}

#areamap_detail label[for="area_id_16"] {
  position: absolute;
  top: 265px;
  left: 305px;
}



//台東区
#areamap_detail #area_id_17 {
  position: absolute;
  top: 185px;
  left: 305px;
}

#areamap_detail label[for="area_id_17"] {
  position: absolute;
  top: 180px;
  left: 320px;
}

//荒川区
#areamap_detail #area_id_18 {
  position: absolute;
  top: 155px;
  left: 300px;
}

#areamap_detail label[for="area_id_18"] {
  position: absolute;
  top: 150px;
  left: 315px;
}

//足立区
#areamap_detail #area_id_19 {
  position: absolute;
  top: 75px;
  left: 310px;
}

#areamap_detail label[for="area_id_19"] {
  position: absolute;
  top: 70px;
  left: 325px;
}

//葛飾区
#areamap_detail #area_id_20 {
  position: absolute;
  top: 130px;
  left: 395px;
}

#areamap_detail label[for="area_id_20"] {
  position: absolute;
  top: 125px;
  left: 410px;
}

//墨田区
#areamap_detail #area_id_21 {
  position: absolute;
  top: 210px;
  left: 345px;
}

#areamap_detail label[for="area_id_21"] {
  position: absolute;
  top: 205px;
  left: 360px;
}

//江東区
#areamap_detail #area_id_22 {
  position: absolute;
  top: 250px;
  left: 345px;
}

#areamap_detail label[for="area_id_22"] {
  position: absolute;
  top: 245px;
  left: 360px;
}

//江戸川区
#areamap_detail #area_id_23 {
  position: absolute;
  top: 220px;
  left: 445px;
}

#areamap_detail label[for="area_id_23"] {
  position: absolute;
  top: 215px;
  left: 460px;
}


//23区外
#areamap_detail #area_id_24 {
  position: absolute;
  top: 435px;
  left: 375px;
}

#areamap_detail label[for="area_id_24"] {
  position: absolute;
  top: 430px;
  left: 390px;
}











