
<% if notification.action == 'comment_on_question' %>
  <p><%= "#{notification.sender.nickname}さん"%>が、あなたの質問に<%= link_to "コメント",property_questions_path(notification.comment.question.property_id) %>しました<%"（#{notification.created_at}）"%></p>
<%elsif notification.action == 'reply_on_comment'%>
  <p><%= "#{notification.sender.nickname}さん" %>が、あなたのコメントに<%= link_to "コメント",property_questions_path(notification.comment.question.property_id) %>しました<%"（#{notification.created_at}）"%></p>
<%end%>


<!--あなたの質問にの方がが出てこない　　　あなたのコメントにの方は出てくるがlink押すと2回目以降も1回目のコメント一覧に行く　　relationをなおす&表示>

<%#= link_to "#{notification.sender.nickname}さん",user_path(notification.sender_id) %><!--が、あなたの質問に>

