<% if model.errors.any? %>
  <div class="ml-2 text-danger font-weight-bold"><%= model.errors.count %>件のエラーが発生しました</div>
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>